.nav{
background-color: rgb(249, 249, 249);
border-bottom: 1px solid #ddd;
height: 80px;
box-shadow: 2px 5px 15px rgba(241, 236, 236, 0.5);
display: flex;
justify-content: space-between;
align-items: center;
}
.nav i{
    font-weight: 500px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-flex;
}
.nav i:hover{
cursor: pointer;
background-color: #ddd;
}
/* container-form */
.container-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    padding: 10px;
}
.google-link{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: rgb(44, 43, 43);
    border: 1px solid black;
    padding: 15px 5px;
    border-radius: 10px;
    width: 400px;
}
.google-link:hover{
background-color: #cfe2f488;
}
.app-link{
     display: inline-block;
    text-decoration: none;
    text-align: center;
    color: rgb(44, 43, 43);
    border: 1px solid black;
    padding: 15px 5px;
    width: 400px;
}
.app-link:hover{
    background-color: #ddd;
}

#email{
    padding: 15px;
    width: 400px;
    border: 2px solid #ddd;
    outline: none;

}
#email:hover{
    border: 1px solid black;
}
#email:focus{
    border: 5px solid rgba(10, 10, 249, 0.788);
}
.container-form button{
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
    width: 400px;
}
.container-form button:hover{
    background-color: rgb(3, 3, 229);
}

/* footer */
footer{
    background-color: black;
}
footer a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 14px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

footer h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
}

footer .row {
  row-gap: 30px;
}

@media (max-width: 768px) {
  footer .col {
    margin-bottom: 20px;
  }
}

footer i{
    font-size: 30px;
}
footer hr{
    width: 150px;
}
footer a i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease-in-out;
}
footer a i:hover {
    background-color: #f8f5f527;
}
