  body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }

      .btn-back-fixed {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    background-color: #010710c6;
    color: rgb(242, 241, 241);
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 1;
  }

  .btn-back-fixed i {
    margin-right: 8px;
  }

  .btn-back-fixed:hover {
    background-color: #084298;
    transform: translateY(-2px);
    color: #fff;
  }

  /* frontend links */
  .dropdown:hover .dropdown-menu{
    display: block;
    font-size: 14px !important;
    margin-top: 35px;
  }
  .dropdown .dropdown-menu a:hover{
        color: tomato !important;
        font-weight: bold;
        background-color: black;

  }

      body::-webkit-scrollbar {
        display: none;
      }

      .image-container {
        position: relative;
        width: 400px;
        height: 400px;
        margin: auto;
      }

      .image-container img {
        position: absolute;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      }

      .img1 {
        top: 0;
        left: 0;
        width: 200px;
      }

      .img2 {
        top: 0;
        right: 0;
        width: 150px;
      }

      .img3 {
        bottom: 0;
        left: 0;
        width: 180px;
      }

      .img4 {
        bottom: 0;
        right: 0;
        width: 200px;
      }

      .center-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        border-radius: 30px;
        z-index: 10;
      }

      .search-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 10px 20px;
        border-radius: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 20;
      }

      .search-bar img {
        width: 20px;
        height: 20px;
      }

      .mybackround-div-five {
        top: 20%;
        background-image: url(https://i5.walmartimages.com/asr/539726ef-023b-46cb-84e0-1ac8ef318c91.090ec36dbed55944266e89dd6271a5e2.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        pointer-events: none;

        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
      }
      /* form {
        width: 100%;
        height: auto;
        padding: 0 5px;
      }
      @media (max-width: 768px) {
        form {
          width: 200px;
          padding: 0 15px;
        }
      } */

      /* footer */
      footer {
        font-size: 10px;
        color: lightblue !important;
      }
      nav a:hover {
        text-decoration: underline;
      }

      /* icone animation translateY */
      .bi-chevron-down {
        font-size: 50px;
        color: white;
        font-weight: bolder;
      }
      .bi-chevron-down-animated {
        font-size: 50px;
        animation: jump 1s linear alternate infinite;
      }

      @keyframes jump {
        0% {
          transform: translateY(0px);
        }
        100% {
          transform: translateY(-20px);
        }
      }

      /* image cadrage */

      .carousel-item img {
        height: auto;
        max-height: 200px;
      }
      .carousel [data-bs-target] {
        background-color: gray;
        height: 10px;
        width: 10px;
        border: none;
        display: inline-block;
        padding: 0;
        border-radius: 50%;
        transition: background-color 0.5s;
      }
      .carousel button:nth-child(1).active {
        background-color: chocolate;
      }
      .carousel button:nth-child(2).active {
        background-color: green;
      }
      .carousel button:nth-child(3).active {
        background-color: blue;
      }

      #customCarousel h1 {
        font-weight: bolder;
        transition: all 0.5s linear;
      }

      /* image mediaquery div search bar */
      .main-img-container {
        width: 500px;
        height: 500px;
        border-radius: 40px;
        overflow: hidden;
      }

      .overlay-title {
        position: absolute;
        color: white;
        font-size: 40px;
        font-weight: bold;
        left: 50px;
        bottom: 80px;
      }

      .img-card {
        width: 220px;
        border-radius: 40px;
        overflow: hidden;
      }

      .img-card h1 {
        position: absolute;
        top: 15%;
        left: 10%;
        font-size: 18px;
        color: #333;
      }

      @media (max-width: 768px) {
        .img-card,
        .main-img-container {
          width: 100% !important;
          height: auto !important;
          position: relative !important;
        }

        .overlay-title {
          font-size: 24px;
          left: 10px;
          bottom: 10px;
        }

        .img-card h1 {
          font-size: 14px;
        }
      }

      /* <!--  FLOTTANT GLOBAL -- >  */

      /* .menu-flottant {
        position: fixed;
        top: 50px;
        bottom: 20px;
        padding: 10px;
        left: 0px;
        z-index: 9999;
        border-radius: 5px;
        transition: width 0.3s ease-in-out;
      }

      .menu-btn {
        background-color: #212529;
        color: #ffc107;
        border: none;
        border-radius: 5px;
        padding: 10px 12px;
        font-size: 18px;
        cursor: pointer;
      }

      .menu-links {
        display: none;
        flex-direction: column;
        margin-top: 5px;
        background-color: #343a40;
        border-radius: 5px;
        padding: 10px;
      }

      .menu-links a {
        color: #ffc107;
        text-decoration: none;
        margin: 5px 0;
        font-weight: bold;
      }

      .menu-flottant:hover .menu-links {
        display: flex;
      }
      .menu-flottant a:hover {
        text-decoration: underline;
        color: blue;
        background-color: rgba(246, 242, 239, 0.402);
        border-radius: 10px;
        transform: scale(1.1);
        width: 80px;
        text-align: center;
      } */

      form p,
      a {
        font-size: 14px;
        padding: 0;
        color: black;
        text-decoration: none;
      }